<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}{% if config.title %} | {{ config.title }}{% endif %}</title>
        <link rel="stylesheet" href="{{ get_url(path='css/normalize.css', trailing_slash=false) | safe }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        {% if config.markdown.highlight_code and config.markdown.highlight_theme == "css" %}
            <link rel="stylesheet" type="text/css" href="{{ get_url(path='css/smart-highlight-theme.css', trailing_slash=false) | safe }}" />
        {% endif %}
        {% block css %}
            <link rel="stylesheet" href="{{ get_url(path='css/main.css', trailing_slash=false) | safe }}">
        {% endblock css %}
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <header>
            {% block header %}
                <nav>
                    <menu>
                        {% for link in config.extra.menu %}
                            <li {% if link.side %}class="{{ link.side }}"{% endif %}><a href="{{ get_url(path=link.path, trailing_slash=false) | safe }}">{{ link.label }}</a></li>
                        {% endfor %}
                    </menu>
                </nav>
            {% endblock %}
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            {% block footer %}
                {% if config.extra.copyright %}
                    <div class="copyright">{{ config.extra.copyright | safe }}</div>
                {% endif %}
            {% endblock %}
        </footer>
    </body>
</html>