{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block main %}
    {% if config.extra.splash %}
        <div id="splash">
            <div>
                <h1>{{ config.extra.splash.title }}</h1>
                <p>{{ config.extra.splash.body }}</p>
            </div>
        </div>
    {% endif %}
    {% if config.extra.profile %}
        <div id="profile">
            <div class="sidebar">
                {% if config.extra.profile.picture %}<img src="{{ get_url(path=config.extra.profile.picture, trailing_slash=false) | safe }}" />{% endif %}
                {% if config.extra.profile.name %}<p>{{ config.extra.profile.name }}</p>{% endif %}
                {% if config.extra.profile.title %}<p>{{ config.extra.profile.title }}</p>{% endif %}
            </div>
            <div>
                <h1>About Me</h1>
                {% if config.extra.profile.description %}<p>{{ config.extra.profile.description }}</p>{% endif %}
            </div>
        </div>
    {% endif %}
    {% if config.extra.contact_form %}
        <div id="contact_form">
            <h1>Contact</h1>
            <form action="{{ config.extra.contact_form }}" method="post">
                <input name="Name" id="name" type="text" placeholder="Name" autocomplete="name">
                <input name="Email" id="email" type="email" placeholder="Email">
                <textarea name="Message" id="message" placeholder="Message"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    {% endif %}
{% endblock %}